body {
  padding-top: 60px;
 }

nav, .navbar,  {
  font-family:  Syncopate;
  background-color: #55cca2;
  color: #fff;
  border-bottom: 2px solid #296650;
  height: 40px;
  min-height: 40px;
  opacity: .95;
  ul {
  padding:  15px 15px;
  }
}


ul {
  list-style: none;
  a { color: #666;}
  border-radius: 6px;
  padding-left: 0px;
}

textarea, input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  font-size: 25px;
}

hr, h4 { margin-bottom: 0px;
}

h2 { font-weight: lighter; }
