* {

}

body {
  margin-top: 2%;
/*  background-color: #313150;
*/
}

.jumbotron {
  color: #666;
  background-color: #e00034;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 0px;
  font-family: Syncopate;
  .text {
    font-size: 15px;
    font-weight: 700;
  }
  img{
    max-height: 100px;
  }
}

.thumbnail {
  background-color: #313150;
  color: #666;
}

.section1 {
  font-family: 'Hind Siliguri', sans-serif;
}

.title { font-size: 30px;}
