body {
  padding-top: 60px;
 }

.navbar {
  font-family:  Syncopate;
  background-color: #55cca2;
  color: #fff;
  border-bottom: 2px solid #296650;
  height: 40px;
  min-height: 40px;
  opacity: .95;
}

.players {
  margin-top: 1%;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.hero {
  min-height: 40vh;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 2.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  img {
    width: 50%;
  }
}

.hero.slideUp {
  opacity: .5;
  max-height: 0px;
  min-height: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  a { color: #666;}
  // border-radius: 6px;
  padding-left: 0px;
  font-size: 20px;
}

textarea, input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  font-size: 25px;
}

.topcoat-list__container {
  border: 1px solid #aeaeae;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1px 1px 5px #666;
}

.topcoat-list__item {
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  padding: 9px;
  &:hover {
    cursor: pointer;
    background-color: #55cca2;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

hr, h4 { margin-bottom: 0px;
}

.events {
  h4{
    padding-left: 50px;
    margin-bottom: 10px;
  }
}

h2 { font-weight: lighter; }
